<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>FirstName</key>
    <string>Paul</string>
    <key>LastName</key>
    <string>Dirac</string>
    <key>MiddleName</key>
    <string>Adrien Maurice</string>
    <key>Title</key>
    <string>Scientist</string>
    <key>image</key>
    <string>PaulDirac</string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Paul</string>
    <key>LastName</key>
    <string>Erdos</string>
    <key>Title</key>
    <string>Partly insane Polymath</string>
    <key>image</key>
    <string>PaulErdos</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Robert</string>
    <key>LastName</key>
    <string>Price (r)</string>
    <key>MiddleName</key>
    <string>McNair</string>
    <key>image</key>
    <string>RobertPrice</string>
    <key>Title</key>
    <string>Preacher Turned Atheist</string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Steven</string>
    <key>LastName</key>
    <string>Gibson</string>
    <key>Title</key>
    <string>Truth Driven Thinker</string>
    <key>image</key>
    <string>StevenGibson</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>James</string>
    <key>LastName</key>
    <string>Randi</string>
    <key>MiddleName</key>
    <string>Randall James Hamilton Zwinge</string>
    <key>Title</key>
    <string>An Honest Liar</string>
    <key>image</key>
    <string>RandiTheGreat</string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Aubrey</string>
    <key>LastName</key>
    <string>deGrey</string>
    <key>MiddleName</key>
    <string>David Nicholas Jasper</string>
    <key>Title</key>
    <string>Comrade</string>
    <key>image</key>
    <string>AubreyDNJdeGrey</string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Daniel</string>
    <key>LastName</key>
    <string>Barker</string>
    <key>image</key>
    <string>DanBarker</string>
    <key>MiddleName</key>
    <string>Edwin</string>
    <key>Title</key>
    <string>Preacher turned Atheist</string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Jacque</string>
    <key>LastName</key>
    <string>Fresco</string>
    <key>Title</key>
    <string>Kind Visionary</string>
    <key>image</key>
    <string>JFresco</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Christopher</string>
    <key>LastName</key>
    <string>Hitchens</string>
    <key>Title</key>
    <string>Intelectual</string>
    <key>image</key>
    <string>CHitchens</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Steven</string>
    <key>LastName</key>
    <string>Pinker</string>
    <key>Title</key>
    <string>Social Scientist</string>
    <key>image</key>
    <string>StevenPinker</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>George</string>
    <key>LastName</key>
    <string>Price</string>
    <key>image</key>
    <string>GRPrice</string>
    <key>Title</key>
    <string>Insane Scientist</string>
    <key>MiddleName</key>
    <string>Robert</string>
    <key>MiddleInitial</key>
    <string>R</string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Dennis</string>
    <key>LastName</key>
    <string>Galvon</string>
    <key>Title</key>
    <string>Best Personal Physician</string>
    <key>image</key>
    <string>DennisGalvon</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Stephen</string>
    <key>LastName</key>
    <string>Baxter</string>
    <key>Title</key>
    <string>Author of Best Book</string>
    <key>image</key>
    <string>SBaxter</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Cute</string>
    <key>LastName</key>
    <string>Couple</string>
    <key>image</key>
    <string>RickLooksHappy</string>
    <key>Title</key>
    <string>Souvenir</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Robert</string>
    <key>LastName</key>
    <string>Heinlein</string>
    <key>MiddleName</key>
    <string>Anson</string>
    <key>MiddleInitial</key>
    <string>A</string>
    <key>Title</key>
    <string>Noteworthy Sci-Fi Author</string>
    <key>image</key>
    <string>RAHeinlein</string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Matthew</string>
    <key>LastName</key>
    <string>McClure</string>
    <key>Title</key>
    <string>Has a good mind</string>
    <key>image</key>
    <string>MMcClure</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>Title</key>
    <string>Partly Insane Scientist</string>
    <key>FirstName</key>
    <string>Francis</string>
    <key>LastName</key>
    <string>Collins</string>
    <key>image</key>
    <string>FCollins</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Alan</string>
    <key>LastName</key>
    <string>Turing</string>
    <key>Title</key>
    <string>Tragic Genius</string>
    <key>image</key>
    <string>AlanTuring</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>Title</key>
    <string>Fun Smart girl</string>
    <key>FirstName</key>
    <string>Aurora</string>
    <key>LastName</key>
    <string>Snow</string>
    <key>image</key>
    <string>AuroraSnow</string>
    <key>New item - 2</key>
    <string></string>
    <key>New item</key>
    <string></string>
  </dict>
  <dict>
    <key>FirstName</key>
    <string>Isaac</string>
    <key>LastName</key>
    <string>Asimov</string>
    <key>image</key>
    <string>IsaacAsimov</string>
    <key>New item - 4</key>
    <string></string>
    <key>New item - 5</key>
    <string></string>
    <key>New item - 6</key>
    <string></string>
  </dict>
  <dict>
    <key>image</key>
    <string>carlSagan</string>
    <key>FirstName</key>
    <string>Carl</string>
    <key>LastName</key>
    <string>Sagan</string>
    <key>MiddleName</key>
    <string></string>
    <key>MiddleInitial</key>
    <string></string>
    <key>Title</key>
    <string>Sane Scientist</string>
  </dict>
  <dict>
    <key>image</key>
    <string>StevenWeinberg</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleName</key>
    <string></string>
    <key>FirstName</key>
    <string>Steven</string>
    <key>LastName</key>
    <string>Weinberg</string>
    <key>MiddleInitial</key>
    <string></string>
  </dict>
  <dict>
    <key>image</key>
    <string>RichardDawkins</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleName</key>
    <string>Clinton</string>
    <key>FirstName</key>
    <string>Richard</string>
    <key>LastName</key>
    <string>Dawkins</string>
    <key>MiddleInitial</key>
    <string>C</string>
  </dict>
  <dict>
    <key>image</key>
    <string>JamesWatson</string>
    <key>MiddleName</key>
    <string></string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>FirstName</key>
    <string>James</string>
    <key>LastName</key>
    <string>Watson</string>
    <key>MiddleInitial</key>
    <string>D</string>
  </dict>
  <dict>
    <key>image</key>
    <string>VictorStenger</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleInitial</key>
    <string>J</string>
    <key>MiddleName</key>
    <string></string>
    <key>FirstName</key>
    <string>Victor</string>
    <key>LastName</key>
    <string>Stenger</string>
  </dict>
  <dict>
    <key>image</key>
    <string>NeilTyson</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleInitial</key>
    <string>D</string>
    <key>MiddleName</key>
    <string>DeGrasse</string>
    <key>LastName</key>
    <string>Tyson</string>
    <key>FirstName</key>
    <string>Neil</string>
  </dict>
  <dict>
    <key>image</key>
    <string>RichardFeynman</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleInitial</key>
    <string>P</string>
    <key>MiddleName</key>
    <string></string>
    <key>FirstName</key>
    <string>Richard</string>
    <key>LastName</key>
    <string>Feynman</string>
  </dict>
  <dict>
    <key>image</key>
    <string>me</string>
    <key>Title</key>
    <string>Sane and Hyper-Aware</string>
    <key>MiddleInitial</key>
    <string>H</string>
    <key>MiddleName</key>
    <string>Hart</string>
    <key>FirstName</key>
    <string>Richard</string>
    <key>LastName</key>
    <string>Woolley</string>
  </dict>
  <dict>
    <key>image</key>
    <string>ErwinS</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleInitial</key>
    <string></string>
    <key>MiddleName</key>
    <string></string>
    <key>FirstName</key>
    <string>Erwin</string>
    <key>LastName</key>
    <string>Schrodinger</string>
  </dict>
  <dict>
    <key>image</key>
    <string>FransisCrick</string>
    <key>Title</key>
    <string>Sane Scientist</string>
    <key>MiddleInitial</key>
    <string></string>
    <key>MiddleName</key>
    <string></string>
    <key>FirstName</key>
    <string>Francis</string>
    <key>LastName</key>
    <string>Crick</string>
  </dict>
</array>
</plist>
